
html {
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
}

/* Header */

header .content {
  display: flex;
  align-items: center;
  height: 64px;
}

header .content span {
  font-size: 24px;
}

header .content span strong {
  font-weight: bold;
}

header img {
  height: 44px;
  padding-left: 24px;
}

header .desktop {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

header ul {
  display: flex;
  padding-right: 24px;
}

nav li {
  padding-left: 16px;
}

header .mobile {
  display: none;
}

@media only screen and (max-width:550px) {
  header .mobile {
    display: flex;
  }

  header .desktop {
    display: none;
  }

  header .logo {
    display: none;
  }

  header span {
    display: none;
  }
}


/* Main Content/Banner */

.banner {
  display: flex;
  width: 100%;
  height: auto;
  background-color: lightgray;
}

.column1 {
  width: 60%;
  flex-shrink: 1;
}

.image-container {
  width: 100%;
  height: auto;
}

.banner img {
  max-width: 100%;
  height: auto;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.column2 {
  display: flex;
  flex-direction: column;
  width: 40%:
  flex-shrink: 2;
  align-content: center;
}

.banner-text{
  display: block;
  padding-left: 34px;
  padding-top: 300px;
}

.banner-text h1 {
  font-size: 36px;
  font-weight: bold;
  width: 60%;
}

.banner-text p {
  font-size: 20px;
  width: 60%;
  padding: 20px 0px;
}

.button {
  background-color: #454947;
  border: none;
  text-align: center;
  padding: 10px 0px;
  width: 60%;
}

.button a {
  color: white;
}

/* Second Section */

.second-section {
  display: flex;
  width: 100%;
}

/* Left Column */

.column-left {
  display: flex;
  width: 60%;
  flex-direction: column;
}

.image-container img {
  width: 100%;
  height: auto;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.article-content h1 {
  font-size: 32px;
  padding-left: 24px;
  padding-bottom: 24px;
  font-weight: bold;
}

.article-content p {
  padding-left: 24px;
  width: 60%;
  padding-bottom: 32px;
}

/* Right Column */

.column-right {
  display: flex;
  width: 40%;
  height: auto;
  flex-direction: column;
  border-left: thin solid lightgray;
}

.quicklink1 {
  display: flex;
  border-style: solid;
  border-color: lightgray;
  border-width: thin;
  padding-bottom: -8px;
}

.quicklink1-image-container {
  width: 40%;
}

.quicklink1-image-container img {
  width: 100%;
  height: auto;
}

.quicklink1 .quicklink-image-mobile {
  display: none;
}

.quicklink1 .information1 {
  padding-top: 126px;
  padding-left: 50px;
}

.information1 h3 {
  font-size: 24px;
  font-weight: bold;
  color: #454947;
}

.information1 p {
  padding: 10px 0px;
}

.information1 a {
  color: blue;
}

.quicklink2 {
  display: flex;
  border-style: solid;
  border-color: lightgray;
  border-width: thin;
}

.quicklink2 .information2 {
  padding-top: 80px;
  padding-left: 50px;
}

.information2 h3 {
  font-size: 24px;
  font-weight: bold;
  color: #454947;
  padding-top: 40px;
}

.information2 p {
  padding: 10px 0px;
}

.information2 a {
  color: blue;
}

.quicklink3 {
  display: flex;
  border-style: solid;
  border-color: lightgray;
  border-width: thin;
  background-color: lightgray;
}

.quicklink-image-container {
  display: flex;
  width: 35%;
}

.quicklink3 .information3 {
  padding-top: 80px;
  padding-left: 50px;
}

.information3 h3 {
  font-size: 24px;
  font-weight: bold;
  color: #454947;
  padding-top: 40px;
}

.information3 p {
  padding: 10px 0px;
}

.information3 a {
  color: blue;
}


/* Start Learning Section */

.start-learning {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: lightgray;
  padding: 40px 0px 20px 0px;
  font-size: 44px;
  color: #454947;
  font-weight: bold;
}

.courses-container {
  background-color: lightgray;
  display: block;
}

.courses-top {
  display: flex;
  justify-content: center;
}

.course img {
  max-width: 100%;
}

.courses-bottom {
  display: flex;
  justify-content: center;
  padding-bottom: 16px;
}

.course {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 15px;
  padding: 0px 25px;
}

.course-info {
  background-color: white;
}

.course-info h3 {
  font-size: 30px;
  padding: 16px 0px 20px 0px;
  color: #454947;
}

.course-info h4 {
  padding-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
}

.course-info p {
  padding-bottom: 24px;
  font-size: 18px;
}

/* Thesis Exhibit */

.thesis-exhibit {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: white;
  padding: 40px 0px;
  font-size: 44px;
  color: #454947;
  font-weight: bold;
}

.column-video {
  display: flex;
  width: 60%;
  padding-left: 24px;
}

.video-container video {
  max-width: 100%;
}

.video-content {
  ;
}
