
html {
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
}

/* Header */

header .content {
  display: flex;
  align-items: center;
  height: 64px;
}

header .content span {
  font-size: 24px;
}

header .content span strong {
  font-weight: bold;
}

header img {
  height: 44px;
  padding-left: 24px;
}

header .desktop {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

header ul {
  display: flex;
  padding-right: 24px;
}

nav li {
  padding-left: 16px;
}

header .mobile {
  display: none;
}

@media only screen and (max-width:550px) {
  header .mobile {
    display: flex;
    width: 100%;
  }

  header .desktop {
    display: none;
  }

  header .logo {
    display: none;
  }

  header span {
    display: none;
  }


}


/* Main Content/Banner */

.banner {
  display: flex;
  width: 100%;
  background-color: lightgray;
}

@media only screen and (max-width: 550px) {
  .banner {
    display: block;
    padding: 0px;
  }
}


/* Left Column */

.banner-image-container {
  width: 60%;
  padding: 32px 24px;
}

.banner-image-container img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 550px) {
  .banner-image-container {
    width: 100%;
    padding: 0px;
  }
}

/* Right Column*/

.banner-text {
  width: 40%;
  margin: auto;
  padding-left: 22px;
  padding-right: 32px;
}

.banner-text h1 {
  font-size: 36px;
  font-weight: bold;
}

.banner-text p {
  font-size: 20px;
  padding: 20px 0px;
  width: 80%;
}

.button {
  background-color: #454947;
  border: none;
  text-align: center;
  padding: 10px 0px;
  width: 60%;
}

.button a {
  color: white;
}

@media only screen and (max-width: 550px) {
  .banner-text {
    width: 100%;
    text-align: center;
    padding: 20px 0px 20px 0px;
  }

  .banner-text p {
    width: 100%;
  }

  .button {
    margin: auto;
  }
}

/* Second Section */

.second-section {
  display: flex;
  width: 100%;
}

/* Left Column */

.second-section .column-left {
  display: flex;
  width: 60%;
  flex-direction: column;
  padding: 32px 24px;
}

.image-container img {
  width: 100%;
  height: auto;
}

.article-content {
  display: block;
}

.article-content h1 {
  font-size: 32px;
  padding: 24px 0px;
  font-weight: bold;
}

.article-content p {
  width: 100%;
  padding: 12px 0px;
}

@media only screen and (max-width: 550px) {
  .second-section .column-left {
    display: none;
  }
}

/* Right Column */

.second-section .column-right {
  display: flex;
  width: 40%;
  height: auto;
  flex-direction: column;
  border-left: thin solid lightgray;
  padding: 32px 0px;
}

.quicklink1 {
  display: flex;
  border-bottom: thin solid lightgray;
  padding: 0px 16px 16px 16px;
}

.quicklink-image-container {
  width: 40%;
  height: auto;
}

.quicklink-image-container img {
  width: 100%;
  height: auto;
}

.quicklink-image-mobile {
  display: none;
}

.quicklink1 .information {
  width: 60%;
  margin: auto;
  padding-left: 16px;
}

.information h3 {
  font-size: 24px;
  font-weight: bold;
  color: #454947;
}

.information p {
  padding: 10px 0px;
}

.information a {
  color: blue;
}

.quicklink2 {
  display: flex;
  border-bottom: thin solid lightgray;
  padding: 16px;
}

.quicklink2 .information {
  width: 60%;
  margin: auto;
  padding-left: 16px;
}

.quicklink3 {
  display: flex;
  border-bottom: thin solid lightgray;
  padding: 16px;
  background-color: lightgray;
}

.quicklink3 .information3 {
  width: 60%;
  margin: auto;
  padding-left: 16px;
}

.information3 h3 {
  font-size: 24px;
  font-weight: bold;
  color: #454947;
}

.information3 p {
  padding: 10px 0px;
}

.information3 a {
  color: blue;
}

@media only screen and (max-width: 550px) {
  .second-section .column-right {
    width: 100%;
    overflow: hidden;
    padding-bottom: 0px;
  }

  .quicklink1 {
    display: block;
    border: none;
  }

  .quicklink3 {
    background-color: white;
  }

  .quicklink-image-container {
    display: none;
  }

  .quicklink-image-mobile {
    display: block;
    width: 100%;
    padding-bottom: 8px;
  }

  .quicklink-image-mobile img {
    width: 100%;
  }

  .quicklink2 {
    display: block;
    border: none;
  }

  .quicklink3 {
    display: block;
  }

  .quicklink1 .information {
    width: 100%;
  }

  .quicklink2 .information {
    width: 100%;
  }

  .quicklink3 .information3 {
    width: 100%;
  }
}

/* Start Learning Section */

.start-learning {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: lightgray;
  padding: 40px 0px 20px 0px;
  font-size: 44px;
  color: #454947;
  font-weight: bold;
}

.courses-container {
  background-color: lightgray;
  width: 100%;
}

.courses-top {
  display: flex;
  justify-content: center;
  padding: 0px 64px;
}

.course {
  display: flex;
  flex-direction: column;
  width: 33%;
  margin: 15px;
}

.course img {
  max-width: 100%;
}

.courses-bottom {
  display: flex;
  justify-content: center;
  padding: 0px 64px 16px 64px;
}

.course-info {
  display: block;
  background-color: white;
  padding: 0px 8px;
}

.course-info h3 {
  font-size: 30px;
  padding: 16px 0px 20px 0px;
  color: #454947;
}

.course-info h4 {
  padding-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
}

.course-info p {
  padding-bottom: 24px;
  font-size: 18px;
}

@media only screen and (max-width: 550px) {
  .start-learning {
    background-color: white;
  }

  .courses-container {
    background-color: white;
    width: 100%;
  }

  .course img {
    display: none;
  }

  .courses-top {
    display: block;
    padding: 0px;
  }

  .courses-container .course {
    width: 100%;
    margin: 15px 0px;
  }

  .course-info {
    padding: 0px 16px;
  }

  .course-info h4 {
    display: none;
  }

  .course-info p {
    display: none;
  }

  .courses-bottom {
    display: block;
    padding: 0px;
  }

  .course-info h3 {
    background-color: lightgray;
    padding-left: 16px;
  }
}

/* Thesis Exhibit */

.thesis-exhibit {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: white;
  padding: 40px 0px;
  font-size: 44px;
  color: #454947;
  font-weight: bold;
}

/* Left Column */

.thesis-content {
  display: flex;
  width: 100%;
}

.column-video {
  display: flex;
  width: 60%;
  padding: 0px 24px 32px 24px;
  flex-direction: column;
}

.video-container video {
  max-width: 100%;
}

.video-content h1 {
  font-size: 32px;
  padding: 24px 0px;
}

/* Right Column */

.thesis-right-column {
  width: 40%;
}

.top-link {
  display: flex;
  padding: 16px;
  background-color: lightgray;
}

.top-link-image {
  width: 40%;
  height: auto;
}

.top-link-image img {
  width: 100%;
  height: auto;
}

.fisma-info {
  width: 60%;
  margin: auto;
  padding-left: 16px;
}

.fisma-info h3 {
  font-size: 24px;
  font-weight: bold;
  color: #454947;
}

.fisma-info p {
  padding: 10px 0px;
}

.bottom-link {
  display: flex;
  padding: 16px;
}

.bottom-link-image {
  width: 40%;
  height: auto;
}

.bottom-link-image img {
  width: 100%;
  height: auto;
}

.now-and-then {
  width: 60%;
  margin: auto;
  padding-left: 16px;
}

.now-and-then h3 {
  font-size: 24px;
  font-weight: bold;
  color: #454947;
}

.now-and-then p {
  padding: 10px 0px;
}

@media only screen and (max-width: 550px) {
  .video-content {
    display: none;
  }

  .thesis-right-column {
    display: none;
  }

  .column-video {
    width: 100%;
    padding: 0px;
  }
}

/* Footer */

footer {
  display: flex;
  width: auto;
  height: 54px;
  border-top: thin solid lightgray;
  padding: 32px 0px 0px 16px;
  justify-content: space-between;
  color: lightgray;
}

.copyright {
  display: block;
}

.list ul {
  display: flex;
}

.list ul li {
  justify-content: flex-end;
  padding: 0px 16px;
}

@media only screen and (max-width: 550px) {
  .list ul li {
    display: none;
  }
}
