
html {
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
}

/* Header */

header .content {
  display: flex;
  align-items: center;
  height: 64px;
}

header .content span {
  font-size: 24px;
}

header .content span strong {
  font-weight: bold;
}

header img {
  height: 44px;
  padding-left: 24px;
}

header .desktop {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

header ul {
  display: flex;
  padding-right: 24px;
}

nav li {
  padding-left: 16px;
}

header .mobile {
  display: none;
}

@media only screen and (max-width:550px) {
  header .mobile {
    display: flex;
  }

  header .desktop {
    display: none;
  }

  header .logo {
    display: none;
  }

  header span {
    display: none;
  }
}


/* Main Content/Banner */

.banner {
  display: flex;
  width: 100%;
  height: auto;
  background-color: lightgray;
}

.column1 {
  width: 60%;
  flex-shrink: 1;
}

.image-container {
  width: 100%;
  height: auto;
}

.banner img {
  max-width: 100%;
  height: auto;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.column2 {
  display: flex;
  flex-direction: column;
  width: 40%:
  flex-shrink: 2;
  align-content: center;
}

.banner-text{
  display: block;
  padding-left: 34px;
  padding-top: 300px;
}

.banner-text h1 {
  font-size: 36px;
  font-weight: bold;
  width: 60%;
}

.banner-text p {
  font-size: 20px;
  width: 60%;
  padding: 20px 0px;
}

.button {
  background-color: #454947;
  border: none;
  text-align: center;
  padding: 10px 0px;
  width: 60%;
}

.button a {
  color: white;
}

/* Second Section */

/* Left Column */

.second-section {
  display: flex;
  width: 100%;
  padding-bottom: 40px;
}

.second-section img {
  max-width: 100%;
  height: auto;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.article-content h1 {
  font-size: 32px;
  padding-left: 24px;
  padding-bottom: 24px;
  font-weight: bold;
}

.article-content p {
  padding-left: 24px;
  width: 60%;
  padding-bottom: 32px;
}

/* Right Column */

.second-section .column2 {
  display: flex;
  width: 40%;
}

.quicklink1 {
  display: flex;
  border-style: solid;
  border-color: lightgray;
  border-width: thin;
  padding-bottom: -8px;
}

.quicklink1 .information1 {
  padding-top: 126px;
  padding-left: 50px;
}

.information1 h3 {
  font-size: 24px;
  font-weight: bold;
  color: #454947;
}

.information1 p {
  padding: 10px 0px;
}

.information1 a {
  color: blue;
}

.quicklink2 {
  display: flex;
  border-style: solid;
  border-color: lightgray;
  border-width: thin;
}

.quicklink2 .information2 {
  padding-top: 80px;
  padding-left: 50px;
}

.information2 h3 {
  font-size: 24px;
  font-weight: bold;
  color: #454947;
  padding-top: 40px;
}

.information2 p {
  padding: 10px 0px;
}

.information2 a {
  color: blue;
}

.quicklink3 {
  display: flex;
  border-style: solid;
  border-color: lightgray;
  border-width: thin;
  background-color: lightgray;
}

.quicklink-image-container {
  display: flex;
  width: 35%;
}

.quicklink3 .information3 {
  padding-top: 80px;
  padding-left: 50px;
}

.information3 h3 {
  font-size: 24px;
  font-weight: bold;
  color: #454947;
  padding-top: 40px;
}

.information3 p {
  padding: 10px 0px;
}

.information3 a {
  color: blue;
}


/* Start Learning Section */

.start-learining {
  display: flex;
  width: 100%;
  background-color: lightgray;
}

.title {
  display: flex;
  text-align: center;
}

.title h1 {
  font-size: 44px;

}
